.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background-color: rgb(218, 40, 40);
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.colornav {
  background-color: #e9e1e1bd!important;
  font-size: 16px;
  border-radius: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  padding:7%;
  height: 500px;
    margin-bottom: 2rem;
    background: url(Dasboard/Data/cover.jpg);
    border-radius: 0;
}

.jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  color: white;
  background-color: #eee;
}



.jumbotron .h1, .jumbotron h1 {
  color: white;
}

.row {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 48px;
  text-align: center;
}
